In [7]:
import re
input_file_path = 'globalterrorismdb_0718dist.csv'

output_file_path = 'globalterrorismdb_0718dist_cleaned.csv'


with open(input_file_path, 'r', encoding='utf-8') as file:
    content = file.read()

# remove unusual line terminators
cleaned_content = re.sub(r'\u2028|\u2029', '', content)

# write the cleaned content back to a new file
with open(output_file_path, 'w', encoding='utf-8') as file:
    file.write(cleaned_content)

In [8]:
import pandas as pd
df = pd.read_csv('globalterrorismdb_0718dist_cleaned.csv')

/var/folders/8h/hbj9kb412sz4vmszf826vrrc0000gn/T/ipykernel_1457/2308705538.py:2: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('globalterrorismdb_0718dist_cleaned.csv')

In [10]:
# Specify data types for the problematic columns
dtype_spec = {
    'column_4': 'str',
    'column_6': 'str',
    'column_31': 'str',
    'column_33': 'str',
    'column_61': 'str',
    'column_62': 'str',
    'column_63': 'str',
    'column_76': 'str',
    'column_79': 'str',
    'column_90': 'str',
    'column_92': 'str',
    'column_94': 'str',
    'column_96': 'str',
    'column_114': 'str',
    'column_115': 'str',
    'column_121': 'str'
}

# Load the dataset with specified dtypes
df = pd.read_csv('globalterrorismdb_0718dist_cleaned.csv', dtype=dtype_spec)

# Display basic information about the dataset
print(df.info())

/var/folders/8h/hbj9kb412sz4vmszf826vrrc0000gn/T/ipykernel_1457/1124200557.py:22: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('globalterrorismdb_0718dist_cleaned.csv', dtype=dtype_spec)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB
None

In [17]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,197000000001,1970,7,2,NaN,0,NaN,58,Dominican Republic,2,...,NaN,NaN,NaN,NaN,PGIS,0,0,0,0,NaN
1,197000000002,1970,0,0,NaN,0,NaN,130,Mexico,1,...,NaN,NaN,NaN,NaN,PGIS,0,1,1,1,NaN
2,197001000001,1970,1,0,NaN,0,NaN,160,Philippines,5,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
3,197001000002,1970,1,0,NaN,0,NaN,78,Greece,8,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN
4,197001000003,1970,1,0,NaN,0,NaN,101,Japan,4,...,NaN,NaN,NaN,NaN,PGIS,-9,-9,1,1,NaN

In [22]:
df.info

<bound method DataFrame.info of              eventid  iyear  imonth  iday approxdate  extended resolution  \
0       197000000001   1970       7     2        NaN         0        NaN
1       197000000002   1970       0     0        NaN         0        NaN
2       197001000001   1970       1     0        NaN         0        NaN
3       197001000002   1970       1     0        NaN         0        NaN
4       197001000003   1970       1     0        NaN         0        NaN
...              ...    ...     ...   ...        ...       ...        ...
181686  201712310022   2017      12    31        NaN         0        NaN
181687  201712310029   2017      12    31        NaN         0        NaN
181688  201712310030   2017      12    31        NaN         0        NaN
181689  201712310031   2017      12    31        NaN         0        NaN
181690  201712310032   2017      12    31        NaN         0        NaN

        country         country_txt  region  ... addnotes  \
0            58  Dominican Republic       2  ...      NaN
1           130              Mexico       1  ...      NaN
2           160         Philippines       5  ...      NaN
3            78              Greece       8  ...      NaN
4           101               Japan       4  ...      NaN
...         ...                 ...     ...  ...      ...
181686      182             Somalia      11  ...      NaN
181687      200               Syria      10  ...      NaN
181688      160         Philippines       5  ...      NaN
181689       92               India       6  ...      NaN
181690      160         Philippines       5  ...      NaN

                                                   scite1  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Somalia: Al-Shabaab Militants Attack Army Che...
181687  "Putin's 'victory' in Syria has turned into a ...
181688  "Maguindanao clashes trap tribe members," Phil...
181689  "Trader escapes grenade attack in Imphal," Bus...
181690  "Security tightened in Cotabato following IED ...

                                                   scite2  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 2 ...
181687  "Two Russian soldiers killed at Hmeymim base i...
181688                                                NaN
181689                                                NaN
181690  "Security tightened in Cotabato City," Manila ...

                                                   scite3  \
0                                                     NaN
1                                                     NaN
2                                                     NaN
3                                                     NaN
4                                                     NaN
...                                                   ...
181686  "Highlights: Somalia Daily Media Highlights 1 ...
181687  "Two Russian servicemen killed in Syria mortar...
181688                                                NaN
181689                                                NaN
181690                                                NaN

                        dbsource  INT_LOG  INT_IDEO INT_MISC INT_ANY  related
0                           PGIS        0         0        0       0      NaN
1                           PGIS        0         1        1       1      NaN
2                           PGIS       -9        -9        1       1      NaN
3                           PGIS       -9        -9        1       1      NaN
4                           PGIS       -9        -9        1       1      NaN
...                          ...      ...       ...      ...     ...      ...
181686  START Primary Collection        0         0        0       0      NaN
181687  START Primary Collection       -9        -9        1       1      NaN
181688  START Primary Collection        0         0        0       0      NaN
181689  START Primary Collection       -9        -9        0      -9      NaN
181690  START Primary Collection       -9        -9        0      -9      NaN

[181691 rows x 135 columns]>

In [24]:
# Set display options to show all columns
pd.set_option('display.max_columns', None)
df.info(max_cols=None)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181691 entries, 0 to 181690
Columns: 135 entries, eventid to related
dtypes: float64(55), int64(22), object(58)
memory usage: 187.1+ MB